<form (submit)="submit()" [formGroup]="registerForm">
    <div class="form-group">
        <label for="name">
            Name:
            <input type="text" class="form-control" formControlName="name">
        </label>
        <label for="patronus">
            Patronus:
            <input type="text" class="form-control" formControlName="patronus">
        </label>
        <label for="age">
            Age:
            <input type="date" class="form-control" formControlName="age">
        </label>

        <button type="submit" class="btn btn-success">Enviar</button>
        <button type="reset" class="btn btn-default" (click)="refrescar()"> Refrescar</button>

    </div>
</form>